<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC_Mybatis_Shiro_Demo:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC_Mybatis_Shiro_Demo_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVC_Mybatis_Shiro_Demo/web/ssm_demo" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC_Mybatis_Shiro_Demo" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="lib" />
        </element>
      </element>
    </root>
  </artifact>
</component>